extends layout

block content
    .container
        .row
            form.form-horizontal(method="post",action="/user/signup",enctype="multipart/form-data")
                .form-group
                    label.col-sm-3.control-label(for="inputName")用户名
                    .col-sm-9
                        input#inputName.form-control(type="text",name="name",value="#{user.name}")
                .form-group
                    label.col-sm-3.control-label(for="inputPassword")密码
                    .col-sm-9
                        input#inputPassword.form-control(type="password",name="password",value="#{user.password}")
                .form-group
                    label.col-sm-3.control-label(for="inputPic")头像
                    .col-sm-9
                        input#inputPic.form-control(type="file",name="pic",value="#{user.pic}")
                .form-group
                    .col-sm-offset-2.col-sm-10
                    button.btn.btn-default(type="submit")录入
